button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	//border: 1px solid;
	//border-color: $color__border-button;
	border-radius: 0;
	cursor: pointer;
	border: 0;
	background: $green3;
	color: white;
	@include font-size( 1 );
	line-height: 1;
	padding: .9em 1.25em;
	background: $green3;
	transition: transit( background-color );

	&:hover {
		background: $green2;
	}

	&:active,
	&:focus {
	}
}

inpu {
	&[type="submit"] {
		border-radius: 0;
		border: 0;
		background: $green3;
		color: white;
		cursor: pointer;
		transition: transit( background-color );
		&:hover {
			background: $green2;
		}
	}
}